# Kaggle Challenge

In [2]:
import numpy as np
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import colorcet as cc
from load_data import loadVectors
from sklearn import neighbors

In [3]:
x_train, y_train, x_validation, y_validation, x_test = loadVectors()

In [4]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.0,5.7890,0.0,0.56612,0.99131,4.5717,0.0,5.1703,3.9266,3.4912,...,0.0,0.0,0.0,0.0,1.5381,0.0,0.00000,0.00000,0.0,0.00
1,0.0,3.9499,0.0,0.29012,0.00000,3.1679,0.0,5.5988,1.6824,0.0000,...,0.0,0.0,0.0,0.0,2.2554,0.0,1.26000,0.33829,0.0,0.00
2,0.0,3.8154,0.0,0.00000,0.00000,2.8567,0.0,4.1596,0.0000,3.3156,...,0.0,0.0,0.0,0.0,2.7900,0.0,0.38005,0.00000,0.0,1.49
3,0.0,4.7163,0.0,2.66720,0.00000,3.9262,0.0,5.6187,0.0000,0.0000,...,0.0,0.0,0.0,0.0,2.2257,0.0,3.27060,0.00000,0.0,0.00
4,0.0,5.4124,0.0,3.09340,1.96590,3.3847,0.0,4.3234,2.0984,0.0000,...,0.0,0.0,0.0,0.0,2.0015,0.0,2.07670,0.00000,0.0,0.00

In [5]:
num_neighbors = [1,3,5,7,11]
for i in num_neighbors:
    clf = neighbors.KNeighborsClassifier(n_neighbors=i)
    clf.fit(x_train, y_train)
    score = clf.score(x_validation, y_validation)
    print('n = {} => score = {}'.format(i,score))

n = 1 => score = 0.6701479547432551
n = 3 => score = 0.65970409051349
n = 5 => score = 0.6827676240208878
n = 7 => score = 0.6823324630113142
n = 11 => score = 0.6875543951261966

In [47]:
submission.to_csv("submission.csv",index=False)